div {
    margin-bottom: 10px;
}
/* 
CSS Selector - which elements we're targeting 
If selector starts with a dot, it targets a class
else it targets an element*/
.sub {
    /* CSS Property: CSS value */
    background-color: rgb(175, 36, 36);
    color: white;   /* Changes font colour */
    border: none;
    height: 35px;   /* px = pixels */
    width: 100px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.15s;
}

/* 
Pseudo-class - adds certain styles in certain situations
Styles applied only when hovered */
.sub:hover {
    opacity: 0.8;
}

/* Styles applied only when clicked */
.sub:active {
    opacity: 0.5;
}

.join {
    background-color: white;
    border-color: rgb(41, 118, 211);
    border-style: solid;
    border-width: 1.3px;
    color: rgb(41, 118, 211);
    height: 35px;
    width: 60px;
    border-radius: 3px;
    cursor: pointer;

    transition: background-color 0.15s, color 0.15s;
}

.join:hover {
    background-color: rgb(41, 118, 211);
    color: white;
}

.join:active {
    opacity: 0.7;
}

.tweet {
    background-color: rgb(19, 149, 230);
    color: white;
    border: none;
    height: 35px;
    width: 70px;
    border-radius: 17px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 8px;
    transition: box-shadow 0.15s;
}

.tweet:hover{
    /* 
    box shadow takes 4 attributes: x y blur color 
    the a in rgba means the opacity of the colour
    */
    box-shadow: 5px 5px 10px rgba(0, 0 ,0, 0.15);
}

.uber {
    background-color: black;
    color: white;
    height: 40px;
    width: 120px;
    border: none;
    cursor: pointer;
    transition: background-color 0.4s;
}

.uber:hover {
    background-color: grey;
}

.amazon {
    background-color: rgba(255, 216, 20);
    border: none;
    width: 170px;
    height: 35px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.15s;
}

.amazon:hover {
    background-color: rgb(207, 176, 23);
}

.github {
    background: rgba(46, 164, 79);
    color: white;
    border: none;
    height: 35px;
    width: 90px;
    border-radius: 5px;
    font-weight: bold;
}

.bootstrap-started {
    background-color: rgba(121, 82, 179);
    color: white;
    border: none;
    height: 40px;
    width: 110px;
    border-radius: 5px;
}

.bootstrap-download {
    background-color: white;
    color: rgba(108, 117, 125);
    border: solid;
    border-width: 1px;
    height: 40px;
    width: 110px;
    border-radius: 5px;
}

.linkedin-apply {
    background-color: rgba(10, 102, 194);
    border: none;
    color: white;
    height: 35px;
    width: 220px;
    border-radius: 50px;
    font-weight: bold;
}

.linkedin-save {
    background-color: white;
    color: rgba(10, 102, 194);
    border: solid;
    border-width: 1px;
    height: 35px;
    width: 70px;
    border-radius: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.15s;
}

.linkedin-save:hover{
    border-width: 2px;
    background-color: aliceblue;
}

a {
    color: aqua;
}

a:hover { 
    color: orange;
}